<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bisma.calendar_analyzer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".helpers.CalendarAnalyzerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.GoogleApi" />
        <activity android:name=".ui.CreateEventActivity" />
        <activity android:name=".ui.ManipulateTasksActivity" />
        <activity android:name=".ui.NotificationHandlerActivity" />
        <activity android:name=".ui.ViewGraphActivity" />
        <activity android:name=".ui.MainActivity">

        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.ReportsHistoryActivity" />
        <activity android:name=".ui.CreateLocalEventActivity" />

        <receiver
            android:name=".helpers.notifications.AlarmReceiver"
            android:process=":remote" />

        <activity android:name=".fragment.ScheduleBarChartFragment" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="33ed1688bf347aea5884b52dd72e95a9a2b6cf82" />

        <service android:name=".NotificationService" />

    </application>

</manifest>